<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>iClinic - Página Inspirada</title>
</head>

<body>

    <h1 style="text-align: center;">Sistema Clínica Médica</h1>
    <div style="text-align: center;">
        <form action="/login" method="get" style="display: inline;">
            <button type="submit">Login</button>
        </form>
        <form action="/usuarios/criar" method="get" style="display: inline;">
            <button type="submit">Cadastre-se</button>
        </form>
    </div>

</body>
</html>
